# Core functionality - changes here should be rare!
/src/app.py                   @naresh-1305
/src/backend/database.py      @naresh-1305
/src/backend/routers/auth.py  @naresh-1305

# The frontend will need refactored soon to be more object oriented.
/src/static/   @naresh-1305
